@font-face {
    font-family: 'HovesPro';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/HovesPro/TTHovesProLight.ttf') format('truetype');
}

@font-face {
    font-family: 'HovesPro';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/HovesPro/TTHovesProRegular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'HovesPro';
    src: url('assets/fonts/HovesPro/TTHovesProDemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}