@font-face {
  font-family: 'Monument';
  src: url('assets/fonts/Monument/MonumentExtended-Regular.otf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Monument';
  src: url('assets/fonts/Monument/MonumentExtended-Ultrabold.otf') format('truetype');
  font-style: normal;
  font-weight: 700;
}